@model WebBaseFrame.Models.Member 
@{ ViewBag.Title = "Create";
   Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row-fluid">
    <div class="span12 widget">
        <div class="widget-header light">
            <span class="title"><i class="icon-pencil"></i>创建新记录</span>
        </div>
        <div class="widget-content form-container">
            <form name="myform" id="myform" action="" method="post" class="validator">
            @{ Html.RenderPartial("_Form", Model, ViewData); }
            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="保 存" />
                <a class="btn" href="/admin/Member/Index">取 消</a>
            </div>
            </form>
        </div>
    </div>
</div>
