@using MvcPager;
@using WEF.MvcPager;
@using WebBaseFrame.Models
@using Libraries;
@model PagedList<Member>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row-fluid">
    <div class="datatable span12">
        <div class="navbar">
            <div class="navbar-inner">
                @Html.CreateButton("创建新记录", "/admin/Member/Create", new { href = "/admin/Member/Create" })
                <div class="nav-collapse pull-right">
                    <ul class="nav">
                        <li class="active"><a href="javascript:void(0);"><i class="icol-table"></i>列表</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="dt-pages tab-content">
            <div class="dt_header">
                <form action="" method="get">
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="btn-group pull-left">
                                <a class="btn" href="javascript:void(0);" onclick="Delete('/Admin/Member/Delete',this,'all');"><span><i class="icol-bin-closed"></i>删除</span></a>
                                <a class="btn"><span><i class="icol-doc-excel-csv"></i>导出</span> </a>
                                <a class="btn"><span><i class="icol-printer"></i>打印</span></a>
                                <a class="btn" href="javascript:void(0)" onclick="$('#control_search').slideToggle()"><span><i class="icos-preview"></i>筛选</span></a>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="pull-right">
                                <label>
                                    <select name="pagesize" class="input-mini" val="@Request.QueryString["pagesize"]">
                                        <option value="10" selected="selected">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                    条记录每页
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-info" id="control_search" style="display: none">
                        <div class="control-group">
                            <label class="control-label">
                                UID
                            </label><div class="controls">
                                <input id="ID" name="ID" type="text" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                用户名
                            </label><div class="controls">
                                <input id="UserName" name="UserName" type="text" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                姓名
                            </label><div class="controls">
                                <input id="RealName" name="RealName" type="text" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                角色
                            </label><div class="controls">
                                @Html.DropDownList("RoleID", "Role", "IsDeleted<>1", string.Empty, "ID", "RoleName", "", "")
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                手机
                            </label><div class="controls">
                                <input id="Mobile" name="Mobile" type="text" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                邮箱
                            </label><div class="controls">
                                <input id="Email" name="Email" type="text" />
                                <button class="btn skip" type="submit"><i class="icos-magnifying-glass"></i>搜 索</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
            <div class="dataTables_wrapper">
                @{ Html.RenderPartial("_Index", Model, ViewData); }
            </div>
        </div>
    </div>
</div>
