@model WebBaseFrame.Models.DictionaryType
<div class="control-group"><label class="control-label">Name</label><div class="controls padt5">@Model.Name</div></div><div class="control-group"><label class="control-label">Memo</label><div class="controls padt5">@Model.Memo</div></div>