<!DOCTYPE html>
<html>
<head>
    <title>@(ViewBag.Title != null ? ViewBag.Title : Libraries.CurrentSite.Title)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="zh-cn" />
    <meta name="author" content="R&D wenli 2015" />
    <meta name="copyright" content="Copyright Wenli All Rights Reserved." />
    <meta name="robots" content="all" />
    <meta name="keywords" content="@(ViewBag.KeyWords != null ? ViewBag.KeyWords : Libraries.CurrentSite.KeyWords)">
    <meta name="description" content="@(ViewBag.Description != null ? ViewBag.Description : Libraries.CurrentSite.Description)" />
    <link href="/Areas/Admin/Content/js/layoutit/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="/Areas/Admin/Content/js/layoutit/css/layoutit.css" rel="stylesheet">
    <!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
	<![endif]-->
    <link rel="shortcut icon" href="/Areas/Admin/Content/js/layoutit/img/favicon.png">
    <link href="/Areas/Admin/Content/js/formvalidator/formvalidator.css" rel="stylesheet" />
    <link href="~/Content/css/css.css" rel="stylesheet" />
    <script type="text/javascript" src="/Areas/Admin/Content/js/layoutit/js/jquery-2.0.0.min.js"></script>
    <!--[if lt IE 9]>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<![endif]-->
    <script src="~/Areas/Admin/Content/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Content/js/formvalidator/formvalidator.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Content/js/formvalidator/formvalidatorregex.js"></script>
</head>
<body>   
    @RenderBody()
</body>
</html>
