<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WeiXinID" value="wx6cbd3dfdb8e80418" />
    <add key="Secret" value="Ud1UEixEUFeukM0r1MJbYzjdOiXX2L7qSJCRdDZ78mBzVPvV-SQfYqpQnE23Uest" />
    <add key="Token" value="44jCiqVYBml57td1XNd" />
    <add key="EncodingAESKey" value="AG4gVC0MJGjssblJFzxzGYWElNmLJafyaGencH68d8h" />
    <add key="DomainUrl" value="http://www.yswenli.net" />
    <add key="TagID" value="20" />
    <add key="AgentID" value="2" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>